.nav {
    display: flex;
    background-color: var(--blue);
    color: var(--lighy-gray);
    height: 70px;
    justify-content: space-between;
    align-items: center;
}

.links {
    list-style: none;
    display: flex;
    margin-right: 1rem;
}

.links li {
    margin: 1rem;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0.25rem;
}

.links a {
    font-size: 1.3rem;
    text-decoration: none;
    transition: color 0.1s ease-in-out;
}

.links button {
    font-size: 1.2rem;
    transition: color 0.1s ease-in-out;
}

.links a:hover,
button:hover {
    color: var(--dark-blue);
}
